<div class="col-md-6 col-md-offset-3">
  <h1>Comments</h1>

  <table class="table table-bordered table-hover table-responsive">
    <thead style="background-color: grey">
<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.post_id %></td>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', comment, class:'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
