<div class="col-md-8 col-md-offset-3">
  <h1>Edit posts</h1>

  <table class="table table-bordered table-hover table-responsive">
    <thead style="background-color: grey">

<%= render 'form' %>

<%= link_to 'Show', @post, class:'btn btn-primary' %> |
<%= link_to 'Back', posts_path, class:'btn btn-primary' %>
