<div class="col-md-6 col-md-offset-3">
<h1>Listing posts</h1>

<table class="table table-bordered table-hover table-responsive">
  <thead style="background-color: grey">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post, class:'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class:'btn btn-primary' %>
</div>