<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-3">
  <h1>Show posts</h1>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.body %>
  </p>

  <h2>Comments</h2>
  <table class="table table-hover table-responsive">
    <tbody>
    <div id="comments">
      <% @post.comments.each do |comment| %>
          <%= div_for comment do %>
              <tr>
                <td>
                <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
                <%= h(comment.body) %>
                </td>
              </tr>

          <% end %>
      <% end %>
    </div>

    </tbody>
  </table>

  <br/>
  <br/>
  <br/>
  <%= form_for([@post, Comment.new]) do |f| %>
      <p><%= f.label :body, "New Comment", class: 'btn btn-primary' %><br/>
        <%= f.text_area :body %>
      </p>

      <p><%= f.submit "Add Comment" %></p>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

